<app-menu-vert></app-menu-vert>
<app-perfil-us></app-perfil-us>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">

<div class="body">
    <div class="container">
        <header class="header">
            <button class="seta"><i class="bi bi-arrow-left"></i></button>
            <button class="top-button">EDITAR CLIENTE</button>
        </header>


        <form class="formulario">
            <div class="campo">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="Carla Meire Teixeira Silva">
            </div>
            <div class="campo">
                <label for="cpf">CPF:</label>
                <input type="text" id="cpf" name="cpf" value="010.010.010-01">
            </div>
            <div class="campo">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" value="(16) 99123-0236">
            </div>
            <div class="campo">
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="endereco" value="Rua dos Coqueiros, n156">
            </div>
            <div class="campo">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" name="bairro" value="Jardim São Sebastião">
            </div>
            <div class="campo">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" value="carlameire@gmail.com">
            </div>

            <div class="botoes">
                <button type="submit" class="salvar">SALVAR</button>
                <button type="button" class="cancelar">CANCELAR</button>
            </div>
        </form>
    </div>
</div>