<app-menu-vert></app-menu-vert>
<app-perfil-us></app-perfil-us>

<div class="body">
  <div class="container">
    <div class="header">
      <button class="seta"><i class="bi bi-arrow-left"></i></button>
    </div>
    <div class="id-badge">
      00001
    </div>
    <div class="cliente">
      <h2>Maria Aparecida Alves Chaves Gonçalves</h2>
      <p>Rua salvador arnoni N°51 - Jardim São Sebastião</p>
      <div class="contato">
        <span>(16)99722-7406</span>
        <span>mariaapgmail.com</span>
        <span>123.456.789-46</span>
      </div>
    </div>

    <div class="tabela">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Data Início</th>
            <th>Prazo Final</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox" id="check1" />
              <label for="check1"></label>
            </td>
            <td>25/02/2025</td>
            <td>10/03/2025</td>
            <td>R$325,10</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="check2" />
              <label for="check2"></label>
            </td>
            <td>26/02/2025</td>
            <td>12/03/2025</td>
            <td>R$53,79</td>
          </tr>
          <tr class="selecionado">
            <td>
              <input type="checkbox" id="check3" checked />
              <label for="check3"></label>
            </td>
            <td>27/02/2025</td>
            <td>27/03/2025</td>
            <td>R$238,70</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id="check4" />
              <label for="check4"></label>
            </td>
            <td>07/03/2025</td>
            <td>07/04/2025</td>
            <td>R$98,65</td>
          </tr>
        </tbody>
      </table>

      <div class="botoes">
        <button class="valor">R$0,00</button>
        <button class="pagar">PAGAR</button>
      </div>
    </div>
  </div>
</div>