<app-menu-vert></app-menu-vert>
<app-perfil-us></app-perfil-us>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">

<div class="body">
    <div class="tudo">
        <div class="card">
            <header class="header">
                <button><i class="bi bi-arrow-left"></i></button>
            </header>
            <div class="id-badge">
                00001
            </div>
            <h2>Lucas Ferraz Santos</h2>
        </div>
        <div class="info">
            <p>Rua Salvador Arnoni Nº51</p>
            <p>Jardim São Sebastião</p>
            <p>lucasfera_gmail.com</p>
            <p>Taquaritinga-SP</p>
            <p>(16) 99722-7406</p>
            <p>78012049/0000-02</p>

        </div>
    </div>
</div>